@import "../../scss/helpers";

.d-carousel-wrapper {
    overflow: hidden;
}

.d-carousel {
    position: relative;
    overflow: visible;
    max-width: 100%;

    .next-button,
    .prev-button {
        position: absolute;
        z-index: 1;
        @media #{$screen-tablet} {
            display: none;
        }
    }

    .next-button {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }

    .prev-button {
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
    }

    .d-carousel-items-container {
        transition: 300ms;

        &.is-dragging {
            transition: 150ms;
        }

        display: flex;
    }

    .d-carousel-items-wrapper {
        position: relative;
    }

    .d-carousel-item {
        display: flex;
        max-width: 100%;
        flex-shrink: 0;
        min-width: calc(50% - #{$default-gap/2});

        @media #{$screen-mobile} {
            min-width: 100%;
        }

        > * {
            flex: 1 0 100%;
            flex-shrink: 0;
            max-width: 100%;
        }

        img {
            object-fit: contain;
        }

        .text-card {
            height: 100%;
            width: $content-max-width;
            max-width: 100%;

            > *,
            .card {
                height: 100%;
                flex: 1 1 0;
            }

            .card {
                @media #{$screen-desktop} {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .d-carousel-item-gap {
        display: inline-block;
        width: $default-gap/2;
        flex-shrink: 0;
    }

    .d-carousel-indicators-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: $default-gap;

        .d-carousel-indicator-wrapper {
            width: $default-gap * 2;
            height: $default-gap * 2;
            position: relative;
            cursor: pointer;
            display: inline-block;
        }

        .d-carousel-indicator {
            $dotSize: 7px;
            height: $dotSize;
            width: $dotSize;
            background-color: var(--color-bg);
            border: 1px solid black;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.active {
                background-color: black;
            }
        }
    }
}
