{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "overrides": [
    {
      "files": ["scripts/**/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0
      }
    }
  ],
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 1,
    "react/display-name": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 1,
    "import/export": 1,
    "import/no-cycle": 1,
    "react/jsx-no-bind": 0,
    "react/jsx-curly-brace-presence": 1,
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "ignoreRestSiblings": true, "args": "none" }
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/ban-ts-comment": 0
    //  warning  Argument 'args' should be typed with a non-any type  @typescript-eslint/explicit-module-boundary-types
    //  warning 'title' PropType is defined but prop is never used  react/no-unused-prop-types
  }
}
