@import "typography-utils";

.footer {
    position: relative;
    background-color: var(--color-primary);

    .links {
        a {
            @include setTypeStylesAll("caption");
            font-weight: bold;
            text-align: left;
        }
    }
}
