@import "variables";

@mixin theming($theme) {
    .content.filled-background {
        background-color: map-color(map-get($theme, primary));
    }
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 0; //to make IE flexboxes work

    @include theming($default-theme);

    @each $theme in $themes {
        &.#{map-get($theme, name)} {
            @include theming($theme);
        }
    }

    .cookie-banner {
        position: relative;
        z-index: 103;
    }

    .content {
        flex: 1 0 auto;
        position: relative;

        main {
            > *:last-child {
                padding-bottom: $gap-wide;
            }
        }
    }

    .footer {
        flex-shrink: 0;
    }
}
