@import "../../scss/helpers";

.header {
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background-color: var(--color-primary);

    .container {
        height: var(--nav-height);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1000;
    }

    .actions-mobile {
        display: none;
        @media #{$screen-tablet} {
            display: flex;
            align-items: center;
        }
    }
    .actions-desktop {
        display: flex;
        align-items: center;
        @media #{$screen-tablet} {
            display: none;
        }
    }
    .navigation {
        a {
            display: inline-block;
            margin-left: $default-gap * 3;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;

            @media #{$screen-tablet} {
                margin-left: 0;
            }
        }
        margin-right: var(--spacing-gap-m);
    }

    .logo {
        width: 90px;
        @media #{$screen-tablet} {
            width: 80px;
        }

        a {
            display: contents;
        }

        img {
            height: 100%;
            object-fit: contain;
        }
    }
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    position: fixed;
    background: black;
    opacity: 0.8;
    z-index: 2;

    &.active {
        display: block;
    }
}

.burger-icon {
    display: inline-block;
    margin-left: var(--padding-x2);
    width: 16px;
    height: 10px;
    position: relative;
    margin-bottom: 2px;
    overflow: hidden;

    .line-2,
    .line-1 {
        width: 16px;
        height: 1px;
        position: absolute;
        background-color: var(--color-body);
        transition: 0.5s ease-in;
    }

    .line-1 {
        top: 0;
        transform-origin: top left;
    }
    .line-2 {
        transform-origin: bottom left;
        bottom: 0;
    }

    &:hover {
        .line-1 {
            transform: translateY(1px);
        }
        .line-2 {
            transform: translateY(-1px);
        }
    }
    &.burger-open {
        .line-1 {
            transform: rotate(49deg) translateY(-2px);
        }
        .line-2 {
            transform: rotate(-49deg) translateY(2px);
        }
    }
}

.modal-wrapper {
    position: absolute;
    top: -100%;
    height: 100vh;
    width: 100vw;
    transition: 0.5s ease-out;
    z-index: -1;
    opacity: 0;
    background-color: var(--color-primary);
}

.modal-wrapper-open {
    top: 0;
    padding-top: var(--nav-height);
    opacity: 1;
}
.mobile-root {
    a {
        display: block !important;
    }
}

.toggle-theme {
    display: grid;
    align-items: center;
    min-width: 160px;
    padding-left: 40px;
    :global(.field){
        margin-bottom: 0;
    }
}

.toggle-lang {
    align-items: center;
    display: flex;
    @media #{$screen-desktop} {
        margin-left: $default-gap * 2;
    }
}
