@import "variables";

.bpl-svg-icon {
    position: relative;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 32px;
    overflow: visible;

    .icon-fill {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: visible;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .bpl-svg-inner-line {
        color: white;
        stroke-width: 0.5;
    }

    &.interactive {
        cursor: pointer;
    }
}
