@import "variables";

%padded-y {
    padding-top: var(--gap-layout);
    padding-bottom: var(--gap-layout);
}

%padded-x {
    padding-left: var(--gap-layout);
    padding-right: var(--gap-layout);
}

.bg-Primary {
    background-color: var(--color-primary);
}

.bg-Secondary {
    background-color: var(--color-secondary);
}

.bg-Themed {
    background-color: var(--color-bg);
}
