.d-layout-centered {
    text-align: center;
    justify-items: center;
}

.breakpoint-Desktop {
    @media #{$screen-tablet} {
        display: none !important;
    }
}

.breakpoint-Non-Desktop {
    @media #{$screen-desktop} {
        display: none !important;
    }
}

.breakpoint-Tablet {
    @media screen and (min-width: #{$tablet + 1}px) {
        display: none !important;
    }
    @media screen and (max-width: #{$phone - 1}px) {
        display: none !important;
    }
}

.breakpoint-Mobile {
    @media screen and (min-width: #{$phone + 1}px) {
        display: none !important;
    }
}

.background-Primary {
    background-color: var(--color-primary);
}

.background-Primary-darker {
    background-color: var(--color-primary-darker);
}
.background-Primary-lighter {
    background-color: var(--color-primary-lighter);
}

.background-Secondary {
    background-color: var(--color-secondary);
}

.background-Dark {
    background-color: var(--color-dark);
}

.background-white-off {
    background-color: #f1f1f1;
}

.background-None {
    background-color: unset;
}

.container-image {
    line-height: 0;

    img {
        width: 100%;
    }
}
