@import "theming";

$yellow-palette: map-palette($yellow);
$purple-palette: map-palette($purple);
$white-palette: map-palette($gray, 100);
$gray-palette: map-palette($gray);
$grey-palette: $gray-palette;
$blue-palette: map-palette($blue);
$red-palette: map-palette($red);
$green-palette: map-palette($green);

$white-theme: light-theme("white", $white-palette, $blue-palette, $red-palette, $green-palette);
$yellow-theme: light-theme("yellow", $yellow-palette, $purple-palette, $red-palette, $green-palette);
$purple-theme: light-theme("purple", $purple-palette, $yellow-palette, $red-palette, $green-palette);
$blue-theme: light-theme("blue", $blue-palette, $red-palette, $red-palette, $green-palette);
