@import "variables";
@import "fonts";
@import "typography-utils";

@each $heading in (h1, h2, h3, h4, h5, body, label, small) {
    #{$heading} {
        // The function will set css properties for 'wide' as default
        @include setTypeStylesAll("#{$heading}");
        max-width: 100%;
    }
}

.caption {
    @include setTypeStylesAll("caption");
}

// ---------------------------------------------------------------

body {
    font-family: $font-primary, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

p {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.black {
    font-weight: 800;
}

.ultra-black {
    font-weight: 900;
}

hr {
    height: 1px;
    width: 100%;
    border: 0;
    margin-top: $default-gap * 2;
    margin-bottom: $default-gap * 2;
}
