$type-style-map: (
    desktop: (
        // default
        body:
        (
            font-size: 16px,
            line-height: 25px,
        ),
        h1: (
            font-size: 36px,
            line-height: 45px,
            margin-top: 32px,
            margin-bottom: 32px,
        ),
        h2: (
            font-size: 28px,
            line-height: 32px,
        ),
        h3: (
            font-size: 21px,
            line-height: 25px,
        ),
        caption: (
            font-size: 11px,
            line-height: 13px,
            letter-spacing: 1.83px,
            text-transform: Uppercase,
            font-weight: normal,
        ),
        label: (
            font-size: 11px,
            line-height: 13px,
            letter-spacing: 2px,
            text-transform: Uppercase,
            font-weight: bold,
        ),
        small: (
            font-size: 9px,
            line-height: 11px,
        ),
        menu-link: (
            font-size: 9px,
            line-height: 11px,
            letter-spacing: 2px,
            text-transform: uppercase,
        ),
    ),
    tablet: (
          // < 1024px
          h2:
          (
              font-size: 28px,
              line-height: 35px,
          ),
    ),
    mobile: (
        // < 500px
        body:
        (
            font-size: 16px,
            line-height: 25px,
        ),
        h1: (
            font-size: 28px,
            line-height: 35px,
        ),
        h2: (
            font-size: 24px,
            line-height: 28px,
        ),
    ),
);

// Function that uses the config above to populate css properties.
@mixin setTypeStyles($style-type, $breakpoint: "desktop") {
    $breakpoint-data: map_get($type-style-map, $breakpoint);
    @if (map-has-key($breakpoint-data, $style-type)) {
        $style-data: map_get($breakpoint-data, $style-type);
        @each $key in map-keys($style-data) {
            $value: map_get($style-data, $key);
            #{$key}: $value;
        }
    }
}

@mixin linkStyles($theme) {
    text-decoration: underline;
    cursor: pointer;
    color: map-get($theme, text);
    font-weight: bold;
}

// Mixin to load above styles for all breakpoints.
@mixin setTypeStylesAll($style-type) {
    @include setTypeStyles($style-type);
    @media #{$screen-tablet} {
        @include setTypeStyles($style-type, "tablet");
    }
    @media #{$screen-mobile} {
        @include setTypeStyles($style-type, "mobile");
    }
}
