// ------------- BREAKPOINTS ---------------------
$phone: 600;
$tablet: 902;
$desktop: 1024;
$widescreen: 1440;
$hd: 1920;
$max-width: 1440;
$content-max-width: #{$max-width}px;

// should not really need to use any other queries except these
$screen-tablet: screen and
    (
        max-width: #{$tablet}px,
    );
$screen-mobile: screen and
    (
        max-width: #{$phone}px,
    );
$screen-desktop: screen and
    (
        min-width: #{$tablet + 1}px,
    );

// ------------------- MISC ---------------
$appearing-animation-speed: 750ms cubic-bezier(0.35, 1, 0.45, 1);
// ------------------ CSS VARS----------------
$default-gap: 16px;
