@import "variables";

@mixin theming($theme) {
    background: map-color(map-get($theme, primary));
    color: map-color(map-get($theme, primary), default-contrast);

    $borderStyle: 1px solid map-color(map-get($theme, primary), default-border);

    a {
        color: map-color(map-get($theme, primary), default-contrast);
    }

    .additional-links {
        a {
            border-top: $borderStyle;
        }

        a:last-of-type {
            border-bottom: $borderStyle;
        }
    }

    .navigation-footer {
        $startColor: map-color(map-get($theme, primary), 600);
        $end-color: map-color(map-get($theme, primary), 500);
        background: linear-gradient(180deg, $startColor, $end-color 100%);
    }
}

.navigation {
    max-height: 100%;

    .navigation-links {
        text-align: center;

        a:first-of-type {
            margin-top: $default-gap;
        }
        a {
            width: 100%;
            font-weight: bold;
            box-sizing: border-box;
            display: inline-block;
            padding: $default-gap;
            margin-bottom: $default-gap/2;
            font-size: 21px;
        }
        a:last-of-type {
            margin-bottom: $default-gap;
        }
    }

    .additional-links {
        text-align: center;
        text-transform: uppercase;
        font-size: 9px;

        a {
            width: 100%;
            letter-spacing: 2px;
            box-sizing: border-box;
            display: inline-block;
            padding: $default-gap 0;
        }
    }

    .navigation-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $default-gap * 4 0;

        @media #{$screen-mobile} {
            padding: $default-gap * 2 0;
        }

        h2 {
            font-size: 16px;
            margin-bottom: $default-gap/2;
        }

        .serviceline {
            font-size: 9px;
            margin-bottom: $default-gap;
        }

        :global(.bpl-svg-icon) {
            font-size: 60px;
        }
    }

    @include theming($default-theme);

    @each $theme in $themes {
        &.#{map-get($theme, name)} {
            @include theming($theme);
        }
    }
}
