@import "../../scss/helpers";

.d-button.d-arrow-button {
    min-width: 0;
    padding: 0;
    padding: $default-gap/4 $default-gap/4 ($default-gap/4 - 3px);

    .mirrored {
        transform: rotateZ(180deg);
    }
}
