@import "variables";
@import "typography-utils";

.bpl-button {
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--color-secondary);

    &:not(.bpl-icon-button) {
        padding: $default-gap ($default-gap * 2) ($default-gap - 3px);
        min-width: 120px;
        @include setTypeStylesAll("label");
    }

    &.bpl-icon-button {
        line-height: 0;
    }
}
