@import "typography-utils";
@import "variables";

.switch-root {
    $switch-width: 52px;
    $switch-height: 32px;
    $switch-ball-padding: 1px;
    $switch-ball-size: 28px;
    $switch-ball-distance: 20px;

    $color-off: transparent;
    $color-on: white;
    $color-border: $color--border-dark;
    $color-backgroud: $color--background-dark;
    $dividerBorder: 1px solid $color-border;

    padding-left: $default-gap / 2;

    .switch {
        position: relative;
        display: block;
        margin: $pad--label + 10px 0;
        text-align: left;
        padding-top: 4px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        position: absolute; //required error tooltip position
        right: 17px;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: $color-backgroud;
        bottom: 0;
        border: 1px solid $color-border;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-sizing: content-box;
        width: $switch-width;
        height: $switch-height;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: $switch-ball-size;
        width: $switch-ball-size;
        left: $switch-ball-padding;
        bottom: $switch-ball-padding;
        border: 1px solid $color-border;
        background-color: $color-off;
        box-shadow: 0px 2px 2px $color-border;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:checked + .slider {
        border: 1px solid $color-border;

        &:before {
            background-color: $color-on;
        }
    }

    input:focus:not(:checked) + .slider {
        &:before {
            background-color: transparentize($color-on, 0.5);
        }
    }

    input:disabled + .slider {
        opacity: 0.3;

        &:hover {
            cursor: auto;
        }
    }

    input:checked + .slider:before {
        transform: translateX($switch-ball-distance);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

.field-description.toggle {
    text-align: left;
    padding-top: 0px;
    padding-left: $default-gap / 2;
    margin-top: -15px;
    line-height: 1;
    max-width: 310px;
    width: 70%;
}
