@import "typography-utils";
@import "variables";

.cookie-banner {
    padding-top: $default-gap * 1.5;
    padding-bottom: $default-gap/2;
    .caption {
        @include setTypeStyles("caption");
        opacity: 0.5;
    }
}
