@import "variables";
@import "layout";

$fold-height: 60px;
$fold-width: 60px;
$border-radius: 75px;

.padded {
    @extend %padded-x;
    @extend %padded-y;
}

.padded_x {
    @extend %padded-x;
}

.padded_x_desktop {
    @extend %padded-x;
    @media #{$screen-tablet} {
        padding-left: 0;
        padding-right: 0;
    }
}

.padded_y {
    @extend %padded-y;
}

.padded_bottom {
    padding-bottom: var(--gap-layout);
}

.max-width {
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
}

//--------------------------------------------
.padding_xs {
}

.split-col-2 {
    @media #{$screen-desktop} {
        display: flex;
        > *:first-child {
            flex-basis: 50%;
        }
        > *:nth-child(2) {
            flex-basis: 50%;
        }
        &.padded_Splitview {
            > *:first-child {
                margin-right: calc(var(--gap-layout) / 2);
            }

            > *:nth-child(2) {
                margin-left: calc(var(--gap-layout) / 2);
            }
        }
    }
    @media #{$screen-tablet} {
        text-align: center;
        &.padded_Splitview {
            > *:first-child {
                margin-bottom: var(--gap-layout);
            }

            > *:nth-child(2) {
                margin-top: var(--gap-layout);
            }
        }
    }
}

.layout-grid {
    display: grid;
    grid-gap: calc(var(--gap-layout) / 2);
}

.desktopOnly {
    @media #{$screen-tablet} {
        display: none;
    }
}

.tabletOnly {
    @media #{$screen-desktop} {
        display: none;
    }
}

.mobileOnly {
    display: none;
    @media #{$screen-mobile} {
        display: block;
    }
}
