@import "variables";

@mixin theming($palette) {
  @each $hue, $color in $palette {
    &.#{$hue} {
      @if type-of($color) != 'map'  {
        background: $color;
      }
    }
  }
}



@each $theme in $themes {
  .#{map-get($theme, name)} {
    .value {
      min-width: 100px;
      height: 50px;
      display: inline-block;
      border: 1px solid lightgrey;
      margin: 0 $default-gap/2;

      &.primary {
        @include theming(map-get($theme, primary));
      }
      &.accent {
        @include theming(map-get($theme, accent));
      }
    }
  }
}


.name {
  text-align: center;
  padding: $default-gap;
  text-transform: uppercase;
}