@import "variables";
@import "typography-utils";

@mixin fullCardWidth() {
    width: calc(100% + #{$gap-wide * 2});
    margin-left: -#{$gap-wide};
    margin-right: -#{$gap-wide};

    @media #{$screen-tablet} {
        width: calc(100% + #{$gap-tablet * 2});
        margin-left: -#{$gap-tablet};
        margin-right: -#{$gap-tablet};
    }
    @media #{$screen-mobile} {
        width: calc(100% + #{$gap-narrow * 2});
        margin-left: -#{$gap-narrow};
        margin-right: -#{$gap-narrow};
    }
}

.text-card {
    position: relative;

    :global(.bpl-image) {
        @include fullCardWidth();
    }

    hr {
        @include fullCardWidth();
    }

    .text-card-header-divider {
        @include fullCardWidth();
        border-bottom: 1px solid map-get($white-palette, default-border);
        margin-bottom: $default-gap * 2;
    }


    .text-card-content {
        width: 100%;
    }

    &.text-card-columns-desktop {
        @media #{$screen-desktop} {
            .text-card-content {
                display: flex;
                flex-direction: row;

                .text-card-header-divider {
                    border-bottom: none;
                    border-left: 1px solid map-get($white-palette, default-border);
                    position: absolute;
                    left: 50%;
                    height: 100%;
                    top: 0;
                    width: 0;
                    margin: 0;
                }

                .bpl-title {
                    flex: 1 0 50%;
                    box-sizing: border-box;
                    max-width: 50%;
                    display: flex;
                    align-items: center;
                    padding-right: $gap-wide;
                }

                .text-card-main-content {
                    padding-left: $gap-wide;
                }
            }
        }
    }
}
